body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: darkkhaki;
}

#card-space > img {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
}

.card {
  position: absolute;
}
