body {
  background-color: seagreen;
  text-align: center;
}

button {
  padding: 15px;
  background-color: thistle;
  color: black;
  border-radius: 10px;
  display: none;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  background-color: palevioletred;
}
button:active,
button:focus {
  outline: none;
}
